[submodule "Source/0-Core/3rdParty/QDetailWidget"]
	path = Source/0-Core/3rdParty/QDetailWidget
	url = https://github.com/Italink/QDetailWidget.git
[submodule "Source/0-Core/3rdParty/assimp"]
	path = Source/0-Core/3rdParty/assimp
	url = https://github.com/assimp/assimp.git
